<footer>
  <div class="footer">
    <div class='address'>
      <i class="fas fa-map-marker-alt fa-3x"></i>
      <h3>We are located at: </h3>

      <div class='address-text'>
        <p class='address-title'>Address: </p>
        <p class='address-detail'>401 West Georgia #600<br>
          Vancouver BC, Canada</p>
      </div>
      <div class='address-text'>
        <p class='address-title'>Phone Number: </p>
        <a href='tel: 1(888)569-6898' class='link'><p class='address-detail'>1 (888) 569-6898</p></a>
      </div>

      <div class='address-text'>
        <p class='address-title'>Email: </p>
        <a href='mailto:bubbleteashop@gmail.com' class='link'><p class='address-detail'>bubbleteashop@gmail.com</p></a>
      </div>
    </div>
    <div id='map'>
    </div>
  </div>
</footer>
