<header>

  <nav>
    <!-- If no user's logged in  -->
    <div class="nav-no-user" style ='display: none;'>
    <!-- remove display after adding logic -->
      <button type="button" class="nav-button">Sign In</button>
      <button type="button" class="nav-button"> Menu</button>
    </div>


  </nav>

  <a href='localhost:8080' class="header-logo"><img src="/images/logo.png" class="logo"></a>


</header>
