<header>
  <nav>
    <!-- If no user's logged in  -->
    <div class="nav-no-user" style="display: none;">
      <!-- remove display after adding logic -->
      <a href="/user/signin"
        ><button type="button" class="nav-button">Sign In</button></a
      >
      <a href="/"><button type="button" class="nav-button">Menu</button></a>
    </div>

    <!-- If user's logged in  -->
    <div class="nav-user">
      <!-- remove display after adding logic -->
      <form class="nav-logout">
        <!--Add to form: action="/logout" method="POST" -->
        <label class="nav-greeting" id=""></label>
        <button type="button" class="nav-button logout">Log out</button>
      </form>

      <div>
        <a href="/"><button type="button" class="nav-button">Menu</button></a>
        <button type="button" class="nav-button orders">Orders</button>
      </div>
    </div>
  </nav>

  <a href="/" class="header-logo"
    ><img src="/images/logo.png" class="logo"
  /></a>

  <script src="scripts/header.js"></script>
</header>
