<header>

  <nav>

    <div class="nav-admin">
        <form class="nav-logout">
        <!--Add to form: action="/logout" method="POST" -->
          <lable class="nav-gretting">Hello, admin.name! </lable>
          <button type="submit" class="nav-button">Log out</button>
        </form>

        <div>
          <button type="button" class="nav-button">Open Orders</button>
          <button type="button" class="nav-button"> History Orders</button>
        </div>
      </div>

  </nav>

  <a href='/' class="header-logo"><img src="/images/logo.png" class="logo"></a>


</header>
