<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="/styles/header.css" type="text/css" />


  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Sans+Pro:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
  <%- include('partials/_header') %>
  <main>
    <h1>Menu</h1>

    <!-- Menu items -->
    <section class="item">
      <img src="/images/bubble_tea.jpg" class="item-image">
      <div class="item-text">
        <h3>Bubble Tea</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <p class="item-price">$6.99</p>
      <button type="button" class="add-button">Add to cart</button>
    </section>

    <section class="item">
      <img src="/images/bubble_tea.jpg" class="item-image">
      <div class="item-text">
        <h3>Bubble Tea</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <p class="item-price">$6.99</p>
      <button type="button" class="add-button">Add to cart</button>
    </section>

    <section class="item">
      <img src="/images/bubble_tea.jpg" class="item-image">
      <div class="item-text">
        <h3>Bubble Tea</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <p class="item-price">$6.99</p>
      <button type="button" class="add-button">Add to cart</button>
    </section>

    <section class="item">
      <img src="/images/bubble_tea.jpg" class="item-image">
      <div class="item-text">
        <h3>Bubble Tea</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
      </div>
      <p class="item-price">$6.99</p>
      <button type="button" class="add-button">Add to cart</button>
    </section>
    <!-- Menu end -->

    <section class="cart">
      <button type="button" class="cart-button">Cart</button>
    </section>
    <span class="badge">0</span>


  </main>

</body>

</html>
