@import "styles/global";

.table-content {
  min-width: 500px;
  max-width: 800px;
  background-color: #fff;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 50px 0;
  font-family: $text;
  font-size: 18px;
  font-weight: 400;
  color: $text-color;
  line-height: 2;
}

.order-table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  margin: 0 15% 0 15%;
}

.order-details tr{
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 50px;
  line-height: 1.5;
  font-weight: 600;
}

.checkout-price {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  width: 40%;
}

.checkout-btn-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  margin-top: 50px;
}

.back-button {
  margin-top: 50px;
  height: 60px;
  width: 60%;
}

.checkout-divider {
  width: 100%;
  border-top: 1px solid $text-color;
  margin: 50px 0 30px 0;
}

.confirm-table {
  margin: auto;
  width: 60%;
}

.confirm-form {
  display: flex;
  justify-content: flex-start;
}

#lang {
  width: 40%;
  text-align: center;
  margin-left: 65px;
}

.confirm-button {
  width: 60%;
  height: 60px;
  margin: 20px 0;
}

.cancel-button {
  width: 60%;
  height: 60px;
  margin-top: 50px;
}

.total-table {
  width: 60%;
  display: flex;
  flex-direction: column;
}
