$h1: 'Roboto', sans-serif;
$text-color: #464646;

$button-text: 'Roboto', sans-serif;
$button-text-size: 18px;
$button-color: rgba(69, 208, 190, 0.5);
$text: 'Source Sans Pro', sans-serif;
$bg-color: #f5f0ec;
$theme-color: #45d0be;
$header-height: 180px;
