@import 'styles/global';

.logo {
  width: 120px;
  height: auto;

}

.header-logo {
  position: absolute;
  top: 0px;
  margin: 0 47% 0 47%;
  display: flex;
  align-items: center;
  height: $header-height;
}

.nav-no-user {
  height: $header-height;
  margin: 0 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-button {
  height: 60px;
  width: 180px;
  margin: 10px;
  font-family: $button-text;
  font-size: $button-text-size;
  color: $text-color;
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.nav-button:hover {
  background-color: $button-color;
}

.nav-greeting {
  font-family: $text;
  font-weight: 400;
  color: $text-color;
  font-size: 20px;
}

.nav-user, .nav-admin {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 5% 0 5%;
}

