@import 'styles/global';

body {
  background-color: #f5f0ec;
  margin-top: -100px;
}

main {
  width: 80%;
  margin: auto;
  max-width: 1200px;
  margin-bottom: 200px;
}

h1 {
   font-family: $h1;
   font-size: 50px;
   color: $text-color;
   display: flex;
   justify-content: center;
   margin: 3%;
 }

 h3 {
   font-family: $text;
   font-weight: 600;
   font-size: 25px;
   color: $text-color;
 }

 p {
   font-family: $text;
   font-weight: 400;
   font-size: 18px;
   line-height: 2;
   color: $text-color;
 }

 .item-price {
   font-weight: 600;
   font-size: 20px;
 }

.item-image {
  width: 15%;
  max-width: 150px;
  min-width: 70px;
  height: auto;
  padding: 15px 0 15px 0;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: $text;
}

.item-text {
  width: 40%;

}

.add-button {
  height: 60px;
  min-width: 70px;
  max-width: 180px;
  width: 18%;
  margin: 10px;
  font-family: $button-text;
  font-weight: 700;
  font-size: $button-text-size;
  color: $text-color;
  background-color: transparent;
  border-width: 2px;
  border-color: $button-color;
  border-style: solid;
  cursor: pointer;
}

.add-button:hover {
  background-color: $button-color;
}

.add-button:active {
  transform: scale(0.98);
}

.btn {
  font-family: $button-text;
  font-size: $button-text-size;
  font-weight: 700;
  color: $text-color;
  border: 0px;
  background-color: $theme-color;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
}

.btn:hover {
  background-color: $button-color;
}


.btn-trans {
  font-family: $button-text;
  font-size: $button-text-size;
  color: $text-color;
  border-width: 2px;
  font-weight: 700;
  border-style: solid;
  border-color: $button-color;
  background-color: transparent;
  cursor: pointer;
}

.btn-trans:active {
  transform: scale(0.98);
}

.btn-trans:hover {
  background-color: $button-color;
}
.cart-button {
  height: 60px;
  width: 350px;
  font-weight: 700;
}

.cart {
  z-index: 10;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-width: 0;
  border-style: solid;
  border-color: $text;
  position: fixed;
  bottom: 40px;
  right: 10%;
}

.cart-button:hover {
  background-color: #93e0d4;
}

.badge {
  font-family: $text;
  font-weight: 600;
  padding-left: 8px;
  padding-right: 8px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  font-size: 15px;
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-width: 0;
  border-style: solid;
  border-color: $text;
  position: relative;
  bottom: 10px;
  right: 42%;
}

.badge[href] {
  background-color: red;
}
